* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background-image: url("../assets/images/beach.jpg");
  background-position: center 5%;
  width: 100%;
  height: 100%;
  color: #105085;
  font-family: cursive;
}

/* header/nav start */

header {
  padding: 25px 35px;
  background-color: transparent;
  opacity: 78%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: black;
}

header a {
  text-decoration: none;
  color: black;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 20px;
  font-weight: bold;
  font-size: 1.55vw;
}

/* end header/nav */

/* Grid/Main Content */

.grid-container {
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: black;
  text-shadow: 0 2px 0 rgba(122, 59, 59, 0.07);
}

.grid {
  grid-auto-flow: dense;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 200px;
}

@supports (display: grid) {
  .box {
    margin: 0;
  }
}

.box a {
  text-decoration: none;
  color: black;
}

#Bio {
  grid-row-start: 2;
}

#Sean {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
}

#Work {
  grid-row-start: 4;
}

.anchors {
  visibility: hidden;
}

#collab {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column-start: 3;
  grid-column-end: 7;
  background-image: url(/assets/images/Collab_scr.jpg);
  background-color: #cccccc;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 1);
}

#book-garden {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  grid-row-start: 7;
  grid-column-start: 3;
  background-image: url(/assets/images/book_grdn.jpg);
  background-color: #cccccc;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 1);
}

#password {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  grid-row-start: 7;
  grid-column-start: 6;
  background-image: url(/assets/images/pswrd_genie.jpg);
  background-color: #cccccc;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 1);
}

#weather {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  grid-row-start: 4;
  grid-column-start: 8;
  background-image: url(/assets/images/wthr_dash.jpg);
  background-color: #cccccc;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 1);
}

/* Footer Start */

footer {
  padding: 25px 35px;
  justify-content: space-between;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.55vw;
  background-color: transparent;
  opacity: 80%;
  color: seashell;
  font-weight: bold;
}

footer h1 {
  margin: 0;
  font-size: 36px;
}

footer ul li {
  padding: 0 60px;
  display: flex;
  flex-wrap: wrap;
  display: inline;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

footer a {
  text-decoration: none;
  color: seashell;
}
